html {
  background-color: #dbdbdb;
  background-image: url("../Images/StefPortraitFinal.png");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-attachment: fixed;
}

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
color: black;
}

.topnav a.active {
color: rgb(122, 122, 122);
}

.topnav-right {
float: right;
}

.card {
  margin-left: 175px;
  margin-top:100px;
  width: 540px;
}

body{
  background-color: transparent;
}

.card-body{
  background-color: white;
  height: 150px;
}

.social{
  margin-left:40px;
  margin-top:10px;
  float: left;
  position: fixed;
  color: #df9902;
  z-index: 10;
}

.fab {
  font-size: 20px;
  padding: 5px;
}

.navbar-nav{
  margin-inline-start: auto;
  margin-right: 0 !important;
}

.navbar-brand{
  margin-left: 20px;
}

