html {
  background-color: #dbdbdb;
}

.topnav {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.navbar {
  color: #FFFFFF;
  background-color: #CC3333;
}

.topnav a:hover {
color: black;
}

.topnav a.active {
color: rgb(122, 122, 122);
}

.topnav-right {
float: right;
}

body{
  background-color: transparent;
}

.social{
  margin-left:100px;
  margin-top:10px;
  float: left;
  position: fixed;
  color: #df9902;
  z-index: 10;
}

.fab {
  font-size: 20px;
  padding: 5px;
  color: #df9902;
}

.fab:hover {
  color: #dfdfdf;
}

.navbar-nav{
  margin-inline-start: auto;
  margin-right: 0 !important;
}

.navbar-brand{
  margin-left: 20px;
}

.page-footer{
  background-color: #343a40;
  background-image: url('StefPortraitFinal.png');
  background-blend-mode: overlay;
  background-size: contain;
  background-repeat: no-repeat;
  color: #dbdbdb;
}

.bgimage {
  width:100%;
  height:500px;
  background: url('https://stef.zenfolio.com/img/s/v-10/p3754184190.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  margin-top: 75px;
}
.bgimage h5 {
  color:#343a40;
  text-align: center;
  margin-top: 150px;
  font-size: xx-large;
}

.bgimage p {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.btn {
  background-color:#df9902;
  border-color: rgb(211, 211, 211);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: rgb(211, 211, 211);
  background-color: #797979;
  border-color: #8b8b8b;
}

.card-deck {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
}

.card{
  background-color: transparent;
  text-align: center;
  border-color: transparent;
}







